body {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(217, 233, 243);
}

.spacing{
    height: 100%;
    width: 100%;
    
}
.banner {
    height: 10rem;
    width: 100%;
    background-color: rgb(1, 1, 23);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.banner div {
    width: 30%;
    height: 80%;
    color: white;
}

.banner-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.banner-2 {
    display: flex;
    justify-content: center;
}

.banner-2 img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: silver 1px solid;
}

.banner-3 {
    display: flex;
    justify-content: center;
    align-self: center;
    
}

.banner-3 ul {
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -.2rem;
    font-size: 1.2rem;
}



.grid-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 14rem 14rem 14rem;
    column-gap: 3rem;
    row-gap: 1rem;
    border: 1px red solid;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.flow {
    border: 1px green solid;
}

.one {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    color:rgb(90, 90, 211);
}

.one img {
    height: 2.5rem;
    width: 2.5rem;
    margin-top: .5rem;
    margin-right: .5rem;
}



